!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Tuktuk - Simple (but powerful) RWD Framework
    //
       Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='assets/css/app.css')
    // link(rel='stylesheet', href='assets/css/tuktuk.theme.css')

  body

    != yield

    // ========================== FOOTER ==========================
    footer.col
      h1 this is a full width column
      
    script(src='assets/js/select.js').
